/* .grid{
    display: inline-grid;
    grid-template-columns: 20px 20px 20px; 
    grid-template-rows: 20px 20px 20px; 
    border: 2px solid black;
    margin-left: 15px;
}
*/
body{
    background-color: seashell;
}
td{
    width: 10px;
    height: 10px;
    border: 1px solid black;
    padding: 5px;
    background-color: white;
} 
table{
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.row-btn{
    margin-left: 20px;
}

.fill-unf{
    margin-top: 20px;
    margin-left: 20px;
}
.fill-all{
    margin-top: 15px;
}
.clear-all{
    margin-top: 15px;
}
.head-line{
    margin-left: 20px;
    background-color: thistle;
    color: darkblue;
    width: 450px;
}

button {
    border: 2px solid purple;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 6px 20px -5px;
    margin-right: 8px;
}
button:hover {
    background-color: #cfd4d1;
    box-shadow: 0 6px 20px -5px;
}
.above-table{
    margin-bottom: 20px;
}